input.ng-invalid.ng-touched{
    border:1px solid red;
}
i{
    color:black
}
.tableFixHead          { overflow: auto; height: 70vh; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }
