<div class="main-section text-center d-flex justify-content-center">
    <div class="container content">
        <main class="form-email w-100 m-auto">

            <h1 class="h3 mb-3 fw-normal mt-5 mb-5">Forgot password</h1>
            <form [formGroup]="info" (ngSubmit)="onSubmit(info)">

                <div class="input-group input-group-lg">
                    <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i
                            class="bi bi-envelope-fill"></i></span>
                    <input type="email" class="form-control border-0 bg-light rounded-end ps-1" placeholder="E-mail"
                        id="exampleInputEmail1" formControlName="name" required />
                </div>

                <button class="w-100 btn btn-lg btn-primary mt-4" [disabled]="!info.valid" type="submit">Verify</button>

            </form>
        </main>
    </div>
</div>