<div class="side-panel">
    <div class="container">
        <app-logo></app-logo>
        <a [routerLink]="['posts']" class="btn action-button">Posts</a>
        <a [routerLink]="['create']" class="btn action-button">Create</a>
        <a [routerLink]="['media']" class="btn action-button">Media</a>
        <a [routerLink]="['category']" class="btn action-button">Category</a>
        <a [routerLink]="" class="btn action-button">Tags</a>
        <a [routerLink]="" class="btn action-button">Comments</a>
        <a [routerLink]="" class="btn action-button">Settings</a>
    </div>
</div>