<div class="container">
  <div class="page-info mt-5">
    <h3>Create Post</h3>
  </div>
  <hr>
  <div class="info-form">
    <form>
      <div class="mb-3">
        <label for="post-title" class="form-label">Your Post Title</label>
        <input
          class="form-control form-control-lg"
          id="post-title"
          type="text"
          placeholder="Post Title"
          aria-label=".form-control-lg example"
        />
      </div>
      <div class="mb-3">
        <label for="post-description" class="form-label"
          >Post Description</label
        >
        <textarea
          class="form-control"
          id="post-description"
          rows="3"
        ></textarea>
      </div>
      <div class="mb-3">
          <button class="btn btn-success">Save And Proceed</button>
      </div>
    </form>
  </div>
</div> 
